body {
  font-family: 'Bebas Neue', sans-serif;
  /* font-family: "Roboto Condensed", serif; */
}

.event-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.event-marquee {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%; /* Adds space to start the scroll effect */
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.event-item {
  display: inline-block;
  margin-right: 50px; /* Space between events */
  font-size: 1.5rem;
}



